header {
  background: url(images/central_park.jpg) center/cover no-repeat; 
  height: 400px; 
  padding-top: 100px;
  padding-left: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; /* Center text for better look on smaller screens */
}
  li {
    list-style-type: none;
    display: inline;
    padding: 0 20px;
  }
  li a {
    text-decoration: none; /* Remove Underline */
  }
  li a:link {
    color: #000; /* Before Click */
  }
  li a:visited {
    color:#818db3; /* After Click */
  }
  li a:hover {
    color:#333; /* Mouse Over */
  }
  li a:active {
    color:#753a30; /* Mouse Down */
  }
  nav {
    background-color:rgb(255, 245, 238);
    height: 50px;
    text-align: center;
    padding-top: 2px;
  }

  .cards {
    display: flex; 
    gap: 20px; 
    justify-content: center; 
    flex-wrap: wrap; /* Allow wrapping on small screens */
  }
  
  .card img {
    width: 100%; /* Makes image fully responsive */
    height: auto;
  }

  @media screen and (max-width: 600px) {
    .cards {
      flex-direction: column; /* Stacks cards vertically */
      text-align: center;
    }
  }
  
  /* 2 Columns Layout at 600px or Higher */
  @media screen and (min-width: 600px) {
    .cards {
      flex-direction: row; /* Display cards side by side */
    }
  }

  main {
    margin: 50px;
  }
  main h1 {
    color:rgb(129, 141, 179);
    font-family: arial;
  }
  footer {
    height: 40px;
    background-color:rgb(129, 141, 179);
    text-align: center;
    padding-top: 20px;
    color:rgb(211, 218, 240);
  }